/* ------------------------------------------ GENERAL ------------------------------------------ */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(50, 50, 50);
}

/* ------------------------------------------ HEADER ------------------------------------------ */

header {
    background-image: url('assets/Header_Background.jpg');
    position: static;
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 20px 0px;
}

header h1 {
    color: rgb(65, 65, 65);
}

header .logo img {
    max-width: 150px;
    margin-bottom: 10px;
}

header h1 {
    margin: 10px 0 5px;
    font-size: 2rem;
}

header h2 {
    margin: 5px 0;
    font-size: 1.5rem;
    font-weight: normal;
}

header span {
    text-decoration: underline;
}

/* ------------------------------------------ NAV ------------------------------------------ */

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 10px 0 0;
    background-color: rgb(0, 174, 205);
}

nav ul li {
    margin: 15px 10px;
    padding: 15px;
}

.nav-link-container {
    display: inline-block;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.5s;
}

nav ul li a {
    display: flex;
    align-items: center;
    color: rgb(65,65,65);
    text-decoration: none;
    padding: 15px 40px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

.nav-link-container:hover {
    transform: scale(1.1);
    color:rgb(0, 174, 205);
}

nav ul li a i {
    margin-right: 8px;
    font-size: 1.5rem; 
}

nav ul li a i {
    margin-right: 8px;
    font-size: 1.5rem; 
}

nav ul li a:hover .fa-facebook-f {
    display: none;
}

nav ul li a:hover .fa-instagram {
    display: none;
}

nav ul li a:hover .fa-whatsapp {
    display: none;
}

nav ul li a:hover .fa-comments {
    display: none;
}

nav ul li a:hover .fa-paw {
    display: inline;
}

nav ul li a .fa-paw {
    display: none;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 0px 0;
        padding: 5px;
    }

    nav ul li a {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

/* ------------------------------------------ MAIN ------------------------------------------ */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: rgb(0, 174, 205);
}

main .images {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 20px 0;
}

main .images img {
    width: 80%;
    order: 1;
}

main .about {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

.about p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    main .images {
        width: 90%;
        margin: 10px 0;
        margin: 10px 10px;
    }

    main .about {
        width: 90%;
        margin: 10px 0;
        padding: 10px 0;
    }
}

main .about h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #007b9e;
}

main .about p {
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: justify;
}

/* ------------------------------------------ FOOTER ------------------------------------------ */

footer {
    text-align: center;
    padding: 0;
    background-color: #ffffff;
    color: rgb(126, 126, 126);
    margin-top: 0px;
}

.footer_logo {
    width: 120px;
    padding: 10px;
    margin: 0px;
}

/* ------------------------------------------ FEEDBACKS ------------------------------------------ */

.feedbacks {
    display: flex;
    width: 100%;

}

.slot_comentario {
    background-color:rgb(126, 126, 126);
}